# Preliminaries

The `pandas` library allows the user several data structures for different data manipulation tasks:
1. Data storage through its `Series` and `DataFrame` data structures.
2. Data filtering using multiple methods from the package.
3. Reading data from many different file formats such as `csv`, `txt`, `xlsx`, ...

Below we provide a brief overview of the `pandas` functionalities needed for these exercises. The complete documentation can be found on the [`pandas` website](https://pandas.pydata.org/).

## Pandas data structures

### Series
The Pandas Series data structure is similar to a one-dimensional array. It can store any type of data. The values are mutable but the size not.

To create `Series`, we call the `pd.Series()` method and pass an array. A `Series` may also be created from a numpy array.

In [1]:
import pandas as pd
import numpy as np

first_series = pd.Series([1,10,100,1000])

print(first_series)

teams = np.array(['PSV','Ajax','Feyenoord','Twente'])
second_series = pd.Series(teams)

print('\n')
print(second_series)

0       1
1      10
2     100
3    1000
dtype: int64


0          PSV
1         Ajax
2    Feyenoord
3       Twente
dtype: object

### DataFrame
One can think of a `DataFrame` as a table with rows and columns (2D structure). The columns can be of a different type (as opposed to `numpy` arrays) and the size of the `DataFrame` is mutable.

To create `DataFrame`, we call the `pd.DataFrame()` method and we can create it from scratch or we can convert a numpy array or a list into a `DataFrame`.

In [2]:
# DataFrame from scratch
first_dataframe = pd.DataFrame({
    "Position": [1, 2, 3, 4],
    "Team": ['PSV','Ajax','Feyenoord','Twente'],
    "GF": [80, 75, 75, 70],
    "GA": [30, 25, 40, 60],
    "Points": [79, 78, 70, 66]
})

print("From scratch: \n {} \n".format(first_dataframe))

# DataFrme from a list
data = [[1, 2, 3, 4], ['PSV','Ajax','Feyenoord','Twente'], 
        [80, 75, 75, 70], [30, 25, 40, 60], [79, 78, 70, 66]]
columns = ["Position", "Team", "GF", "GA", "Points"]

second_dataframe = pd.DataFrame(data, index=columns)

print("From list: \n {} \n".format(second_dataframe.T)) # the '.T' operator is explained later on

# DataFrame from numpy array
data = np.array([[1, 2, 3, 4], ['PSV','Ajax','Feyenoord','Twente'], 
                 [80, 75, 75, 70], [30, 25, 40, 60], [79, 78, 70, 66]])
columns = ["Position", "Team", "GF", "GA", "Points"]

third_dataframe = pd.DataFrame(data.T, columns=columns)

print("From numpy array: \n {} \n".format(third_dataframe))

From scratch:
    Position       Team  GF  GA  Points
0         1        PSV  80  30      79
1         2       Ajax  75  25      78
2         3  Feyenoord  75  40      70
3         4     Twente  70  60      66

From list:
   Position       Team  GF  GA Points
0        1        PSV  80  30     79
1        2       Ajax  75  25     78
2        3  Feyenoord  75  40     70
3        4     Twente  70  60     66

From numpy array:
   Position       Team  GF  GA Points
0        1        PSV  80  30     79
1        2       Ajax  75  25     78
2        3  Feyenoord  75  40     70
3        4     Twente  70  60     66

### DataFrame attributes
This section gives a quick overview of some of the `pandas.DataFrame` attributes such as `T`, `index`, `columns`, `iloc`, `loc`, `shape` and `values`.

In [3]:
# transpose the index and columns
print(third_dataframe.T)

            0     1          2       3
Position    1     2          3       4
Team      PSV  Ajax  Feyenoord  Twente
GF         80    75         75      70
GA         30    25         40      60
Points     79    78         70      66

In [4]:
# index makes reference to the row labels
print(third_dataframe.index)

RangeIndex(start=0, stop=4, step=1)

In [5]:
# columns makes reference to the column labels
print(third_dataframe.columns)

Index(['Position', 'Team', 'GF', 'GA', 'Points'], dtype='object')

In [6]:
# iloc allows to access the index by integer-location (e.g. all team names, which are in the second columm)
print(third_dataframe.iloc[:,1])

0          PSV
1         Ajax
2    Feyenoord
3       Twente
Name: Team, dtype: object

In [7]:
# loc allows to access the index by label(s)-location (e.g. all team names, which are in the "Team" columm)
print(third_dataframe.loc[0, 'Team'])

PSV

In [8]:
# shape returns a tuple with the DataFrame dimension, similar to numpy
print(third_dataframe.shape)

(4, 5)

In [9]:
# values return a Numpy representation of the DataFrame data
print(third_dataframe.values)

[['1' 'PSV' '80' '30' '79']
 ['2' 'Ajax' '75' '25' '78']
 ['3' 'Feyenoord' '75' '40' '70']
 ['4' 'Twente' '70' '60' '66']]

### DataFrame methods
This section gives a quick overview of some of the `pandas.DataFrame` methods such as `head`, `describe`, `concat`, `groupby`,`rename`, `filter`, `drop` and `isna`. To import data from CSV or MS Excel files, we can make use of `read_csv` and `read_excel`, respectively.

In [10]:
# print the first few rows in your dataset with head()
print(third_dataframe.head()) # In this case, it is not very useful because we don't have thousands of rows

  Position       Team  GF  GA Points
0        1        PSV  80  30     79
1        2       Ajax  75  25     78
2        3  Feyenoord  75  40     70
3        4     Twente  70  60     66

In [11]:
# get the summary statistics of the DataFrame with describe()
print(third_dataframe.describe())

       Position  Team  GF  GA Points
count         4     4   4   4      4
unique        4     4   3   4      4
top           2  Ajax  75  25     70
freq          1     1   2   1      1

In [12]:
# concatenate (join) DataFrame objects using concat()

# first, we will split the above DataFrame in two different ones
df_a = third_dataframe.loc[[0,1],:]
df_b = third_dataframe.loc[[2,3],:]

print(df_a)
print('\n')

print(df_b)
print('\n')

# now, we concatenate both datasets
df = pd.concat([df_a, df_b])

print(df)

  Position  Team  GF  GA Points
0        1   PSV  80  30     79
1        2  Ajax  75  25     78


  Position       Team  GF  GA Points
2        3  Feyenoord  75  40     70
3        4     Twente  70  60     66


  Position       Team  GF  GA Points
0        1        PSV  80  30     79
1        2       Ajax  75  25     78
2        3  Feyenoord  75  40     70
3        4     Twente  70  60     66

In [13]:
# group the data by certain variable via groupby()
# here, we have grouped the data by goals for, which in this case is 75

group = df.groupby('GF')

print(group.get_group('75'))

  Position       Team  GF  GA Points
1        2       Ajax  75  25     78
2        3  Feyenoord  75  40     70

In [14]:
# rename() helps you change the column or index names
print(df.rename(columns={'Position':'Pos','Team':'Club'}))

  Pos       Club  GF  GA Points
0   1        PSV  80  30     79
1   2       Ajax  75  25     78
2   3  Feyenoord  75  40     70
3   4     Twente  70  60     66

In [15]:
# build a subset of rows or columns of your dataset according to labels via filter()
# here, items refer to the variable names: 'Team' and 'Points'; to select columns, we specify axis=1
print(df.filter(items=['Team', 'Points'], axis=1))

        Team Points
0        PSV     79
1       Ajax     78
2  Feyenoord     70
3     Twente     66

In [16]:
# dropping some labels
print(df.drop(columns=['GF', 'GA']))

  Position       Team Points
0        1        PSV     79
1        2       Ajax     78
2        3  Feyenoord     70
3        4     Twente     66

In [17]:
# search for NA (not available) entries in the DataFrame
print(df.isna()) # No NA values
print('\n')

# create a pandas Series with a NA value
# the Series as W (winnin matches)
tmp = pd.Series([np.NaN, 25, 24, 19],  name="W")

# concatenate the Series with the DataFrame
df = pd.concat([df,tmp], axis = 1)
print(df)
print('\n')

# again, check for NA entries
print(df.isna())

   Position   Team     GF     GA  Points
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False


  Position       Team  GF  GA Points     W
0        1        PSV  80  30     79   NaN
1        2       Ajax  75  25     78  25.0
2        3  Feyenoord  75  40     70  24.0
3        4     Twente  70  60     66  19.0


   Position   Team     GF     GA  Points      W
0     False  False  False  False   False   True
1     False  False  False  False   False  False
2     False  False  False  False   False  False
3     False  False  False  False   False  False

## Dataset

For this week exercises we will use a dataset from the Genomics of Drug Sensitivity in Cancer (GDSC) project (https://www.cancerrxgene.org/). In this study (['Iorio et al., Cell, 2016']()), 265 compounds were tested on 1001 cancer cell lines for which different types of -omics data (RNA expression, DNA methylation, Copy Number Alteration, DNA sequencing) are available. This is a valuable resource to look for biomarkers of drugs sensitivity in order to try to understand why cancer patients responds very differently to cancer drugs and find ways to assign the optimal treatment to each patient.

For this exercise we will use a subset of the data, focusing the response to the drug YM155 (Sepantronium bromide) on four cancer types, for a total of 148 cancer cell lines.

| ID          | Cancer type                      |
|-------------|----------------------------------|
|   COAD/READ | Colorectal adenocarcinoma        |
|   NB        | Neuroblastoma                    |
|   KIRC      | Kidney renal clear cell carcinoma|
|   BRCA      | Breast carcinoma                 |

We will use the RNA expression data (RMA normalised). Only genes with high variability across cell lines (variance > 5, resulting in 238 genes) have been kept.

Drugs have been tested at different concentration, measuring each time the viability of the cells. Drug sensitivity is measured using the natural log of the fitted IC50 metric, which is defined as the half maximal inhibitory concentration. A lower IC50 corresponds to a more sensitive cell line because a lower amount of drug is sufficient to have a strong response, while a higher IC50 corresponds to a more resistant cell line because more drug is needed for killing the cells.

Based on the IC50 metric, cells can be classified as sensitive or resistant. The classification is done by computing the $z$-score across all cell lines in the GDSC for each drug, and considering as sensitive the ones with $z$-score < 0 and resistant the ones with $z$-score > 0.

The dataset is originally provided as 3 files ([original source](https://www.sciencedirect.com/science/article/pii/S0092867416307462?via%3Dihub)) :

`GDSC_RNA_expression.csv`: gene expression matrix with the cell lines in the rows (148) and the genes in the columns (238).

`GDSC_drug_response.csv`: vector with the cell lines response to the drug YM155 in terms of log(IC50) and as classification in sensitive or resistant.

`GDSC_metadata.csv`: metadata for the 148 cell lines including name, COSMIC ID and tumor type (using the classification from ['The Cancer Genome Atlas TCGA'](https://www.cancer.gov/about-nci/organization/ccg/research/structural-genomics/tcga))

For convenience, we provide the data already curated.

`RNA_expression_curated.csv`: [148 cell lines , 238 genes]

`drug_response_curated.csv`: [148 cell lines , YM155 drug]

The curated data cam be read as `pandas` `DataFrame`s in the following way:

In [18]:
import pandas as pd

gene_expression = pd.read_csv("./data/RNA_expression_curated.csv", sep=',', header=0, index_col=0)
drug_response = pd.read_csv("./data/drug_response_curated.csv", sep=',', header=0, index_col=0)

In [35]:
gene_expression

,TFPI,TFAP2B,MGST1,PRSS3,ISL1,SNAI2,SERPINB1,VIM,CD44,VCAN,...,PSMB8,HSPA1A,SERPINB5,MLLT11,AKR1B10P1,UCA1,MIR205HG,PHGR1,HLA-B,SEPP1
949176,7.166555,2.795512,7.917741,9.466787,8.436305,9.500610,7.380575,13.073855,3.374265,9.332068,...,4.338325,3.193308,3.231940,10.828382,2.977182,3.694196,3.056695,2.714666,5.156024,9.426053
749714,9.084584,2.693997,12.199084,2.975566,3.479229,8.489317,8.500992,5.631460,7.950032,2.845233,...,9.492377,11.628330,7.902180,3.568167,7.806236,12.332383,11.264508,3.405150,11.842518,6.269068
749709,7.409983,3.034927,11.597315,3.100007,2.993368,9.676350,9.491955,9.558949,8.817890,2.955041,...,9.511871,10.993441,7.528199,2.883216,10.389229,7.769475,12.675657,2.718737,11.583025,4.060529
1660034,3.366363,2.850566,10.101420,3.422998,4.553985,4.206307,10.670574,3.309632,7.547344,2.939078,...,8.228828,4.561736,10.573551,3.124834,5.842664,7.864870,3.235421,11.684274,11.187621,3.421234
1240123,3.622246,3.004234,10.139788,6.627779,3.268149,3.752552,10.565739,3.138711,4.366684,2.932474,...,8.505643,2.932354,3.448589,3.502982,4.433917,4.462764,3.240951,11.547653,10.290615,2.909176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905946,4.424679,3.115770,10.206554,3.072116,3.129721,3.723823,8.962440,3.470113,6.001979,2.878146,...,3.647049,12.153026,3.653533,3.457305,3.022961,3.285490,3.775332,2.728559,6.782047,6.605122
1298157,8.552384,3.049648,11.869112,6.930417,2.946272,9.182859,8.386110,7.736445,10.402853,2.906355,...,8.532879,11.669275,6.392053,8.370608,3.193331,9.638283,10.864759,2.689626,9.126861,2.773124
909761,3.894694,2.960201,11.474275,7.867391,3.201656,3.844690,10.899555,7.182603,8.410965,2.854415,...,9.154252,4.678164,7.556559,3.010025,5.614693,7.277744,2.914074,9.579208,12.159292,3.740398
1298168,8.657182,2.856174,11.112730,3.130571,3.590499,9.744353,9.579610,13.035744,9.028769,9.714852,...,9.689355,10.518663,3.034963,9.063806,3.643355,3.250843,3.715847,2.740402,12.700984,2.606169
905957,10.685805,3.079663,10.596681,2.966899,3.059001,10.988503,8.660865,13.165290,9.656734,10.066935,...,5.778045,11.145396,3.151173,6.523492,3.410762,3.403127,2.910378,2.738541,10.700984,2.814274

You can use the `DataFrame`s directly as inputs to the the `sklearn` models. The advantage over using `numpy` arrays is that the variable are annotated, i.e. each input and output has a name.

## Tools
The `scikit-learn` library provides the required tools for linear regression/classification and shrinkage, as well as for logistic regression.

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression

Note that the notation used for the hyperparameters in the `scikit-learn` library is different from the one used in the lecture. More specifically, in the lecture $\alpha$ is the tunable parameter to select the compromise between Ridge and Lasso. Whereas, `scikit-learn` library refers to `alpha` as the tunable parameter $\lambda$. Please check the documentation for more details.

# Exercises

## Selection of the hyperparameter

Implement cross-validation (using `sklearn.grid_search.GridSearchCV`) to select the `alpha` hyperparameter of `sklearn.linear_model.Lasso`.

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

X_train, X_test, y_train, y_test = train_test_split(gene_expression, drug_response, test_size=0.2, random_state=40)

pipeline = Pipeline([('scaler', StandardScaler()),
                     ('model', Lasso(max_iter=5000))])

params = {'model__alpha': np.arange(0.01, 2, 0.01)}

Lasso_model = GridSearchCV(pipeline,
                      param_grid = params,
                      cv = 5, verbose=0)

#gs_poly = PolynomialFeatures(order)
Lasso_model = Lasso_model.fit(X_train,y_train);
predictions = Lasso_model.predict(X_test)

best_parm=Lasso_model.best_params_
scores = Lasso_model.cv_results_["mean_test_score"]
scores_std = Lasso_model.cv_results_["std_test_score"]
print(best_parm)
print(Lasso_model.score(X_train, y_train))
print(Lasso_model.score(X_test, y_test))
#mse_poly = mean_squared_error(y_test, predictions)
#r2_score = r2_score(y_test, predictions)
#est_deg = gs_poly.best_params_['polynomialfeatures__degree']
#print('The polynomial degree with the best score: '+str(est_deg))
#print('Mean squared error: '+str(mse_poly))
#print('correlation coefficient:'+ str(r2_score))

{'model__alpha': 0.47000000000000003}
0.4108227122453457
0.13941219706620023

Alpha of 0.47 is optimal. This gives a R2 of 0.41 on the validation set and 0.14 on the test set

## Feature selection

Look at the features selected using the hyperparameter which corresponds to the minimum cross-validation error.

<p><font color='#770a0a'>Is the partition in training and validation sets playing a role in the selection of the hyperparameter? How will this affect the selection of the relevant features?</font></p>

<p><font color='#770a0a'>Should the value of the intercept also be shrunk to zero with Lasso and Ridge regression? Motivate your answer.</font></p>

In [ ]:
#from sklearn.model_selection import cross_val_score
#scores=cross_val_score(Lasso(alpha=0.47), X_train, y_train, cv=5)
#min_score=min(scores)
#print(min_score)
features = gene_expression.columns
coefficients = Lasso_model.best_estimator_.named_steps['model'].coef_
importance = np.abs(coefficients)
np.array(features)[importance > 0]

## Bias-variance 

Show the effect of the regularization on the parameter estimates in terms of bias and variance. For this you can repeat the optimization 100 times using bootstrap and visualise the profile of the Lasso regression coefficient over a grid of the hyperparameter, optionally including the variability as error bars.

<p><font color='#770a0a'>Based on the visual analysis of the plot, what are your observation on bias and variance in relation to model complexity? Motivate your answer.</font></p>

In [62]:
#code voor 22/09
from sklearn.utils import resample
mean = []
std = []
a = []
n_iterations = 100 #100

for i in range(n_iterations):
    X_bs, y_bs = resample(X_train, y_train, replace=True)
    
    pipeline = Pipeline([('scaler', StandardScaler()),
                     ('model', Lasso(max_iter=5000))])
    params = {'model__alpha': np.arange(0.01, 2, 0.01)}

    Lasso_model = GridSearchCV(pipeline,
                      param_grid = params,
                      cv = 5, verbose=0)
    

    Lasso_model = Lasso_model.fit(X_bs, y_bs);
    
    #predictions = Lasso_model.predict(X_test)
    coef = Lasso_model.best_estimator_.named_steps['model'].coef_  # coefficienten nemen voor het beste model of alle modellen?
    mean_coef = np.mean(coef)
    mean.append(mean_coef)
    
    std_coef = np.std(coef)
    std.append(std_coef)
    
    best_parm = Lasso_model.best_params_
    a.append(best_parm['model__alpha'])

C:\Users\20192032\AppData\Local\anaconda3\envs\8dm50\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:532: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.09594124071951571, tolerance: 0.09131348147368422
  positive)

In [2]:
#code na 22/09
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import Lasso
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(gene_expression, drug_response, test_size=0.2, random_state=42)

alphas = np.logspace(-4, 2, 100)
iterations = 100

coefficients = np.zeros((len(alphas), n_iterations, gene_expression.shape[1])) #generate empty array to fill with coefficients

for i, alpha in enumerate(alphas):
    for j in range(n_iterations):

        X_resampled, y_resampled = resample(X_train, y_train, replace=True)
        
        model = Lasso(alpha=alpha, max_iter=5000)
        model.fit(X_resampled, y_resampled)
        
        coefficients[i, j, :] = model.coef_

coefficients

NameError: name 'gene_expression' is not defined

## Logistic regression

<p><font color='#770a0a'>Write the expression of the objective function for the penalized logistic regression with $L_1$ and $L_2$ regularisation (as in Elastic net).</font></p>